

    <mat-tab-group [selectedIndex]="selectedIndex">

        <mat-tab label="Basic Info">
            <form [id]="formId" [formGroup]="basicInfo">
                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="first" required>
                    </mat-form-field>
                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" formControlName="last" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                    floatLabel="always"
                    style="width: 100%;" >
                        <mat-label>Date of Birth</mat-label>
                        <input  matInput [matDatepicker]="picker2" formControlName="dob" placeholder="Birthday Date" />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>Gender</mat-label>
                        <input matInput placeholder="Gender" formControlName="gender" required>
                    </mat-form-field>
                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone" formControlName="phone" required>
                    </mat-form-field>
            </form>
            <div>
                <button mat-button (click)="next()">Next</button>
            </div>
            <div>
                <a routerLink="/" class="">back to home</a>
              </div>
        </mat-tab>

        <mat-tab label="Skill Info">
       <form [id]="formId" [formGroup]="skillInfo">

                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>Skill Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="skill" required>
                    </mat-form-field>
                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>Years of Experience</mat-label>
                        <input matInput placeholder="First Name" formControlName="exp"  required>
                    </mat-form-field>
                    <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    style="width: 100%;">
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="levelExp">
                          <mat-option value="one">Beginner</mat-option>
                          <mat-option value="two">Intermediate</mat-option>
                          <mat-option value="three">Advanced</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>

                    <div>
                        <button mat-button (click)="next()">Next</button>
                    </div>
                    <div>
                        <button mat-button (click)="previous()">previous</button>
                    </div>
                    <div>
                        <a routerLink="/" class="">back to home</a>
                      </div>
        </mat-tab>

        <mat-tab label="View">
            <mat-list>
                <mat-list-item> <strong>First Name: </strong> {{ this.basicInfo.value.first }}</mat-list-item>
                <mat-list-item> <strong>Last Name: </strong> {{ this.basicInfo.value.last }}</mat-list-item>
                <mat-list-item> <strong>Date of Birth: </strong> {{ this.basicInfo.value.dob }}</mat-list-item>
                <mat-list-item> <strong>Gender: </strong> {{ this.basicInfo.value.gender }}</mat-list-item>

                <mat-list-item><strong>Phone: </strong> {{ this.basicInfo.value.phone }}</mat-list-item>

                <mat-list-item> <strong>Skill Name: </strong> {{ this.skillInfo.value.skill }}</mat-list-item>
                <mat-list-item> <strong>Years of Experience: </strong> {{ this.skillInfo.value.exp }}</mat-list-item>
                <mat-list-item> <strong>Level of Experience: </strong> {{ this.skillInfo.value.levelExp }}</mat-list-item>
            </mat-list>


                <div>
                <button mat-button (click)="previous()">Previous</button>
                <button mat-button (click)="submit()">Submit</button>
                </div>
        </mat-tab>
    </mat-tab-group>



<!-- <button mat-button (click)="basicInfoAdd(first.value, last.value, dob.value, gender.value, phone.value, skill.value, exp.value, levelExp.value)" >Submit</button> -->
