table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td,
  th {
    width: 25%;
  }

  /************* Angular Mat Data Table Start *************/
  .mat-data-table {
    width: 100%;
    border-collapse: collapse;
  }

  /*Header height*/
  .mat-data-table tr.mat-header-row {
    height: 40px !important;
  }

  /*Header backGroud color - Font color -border - padding */

  /*data row align - height*/
  .mat-data-table tr.mat-row {
    /* text-align: center; */
    height: 35px !important;
  }

  /*data row border - padding*/
  .mat-data-table td.mat-cell {
    border: 1px solid #cad6e4 !important;
    padding-left: 5px;
  }

  .mat-data-table tr:nth-child(even) {
    background: #eff2f7;
  }

  .mat-data-table .mat-sort-header-arrow {
    color: #fff;
  }

  .mat-table-action {
    width: 55px;
  }
  /************ Angular Mat Data Table End *************/

  .card-container {
    display: flex;
    justify-content: right;
  }
  .customize-table {
    width: 50%;
    margin-left: 25%;
    /* margin-top: -300px; */
  }
  .my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  .custom-add-button {
    background-color: #2b80e1;
    color: aliceblue;
    float: right;
    height: 34px;
  }

  tr.mat-header-row {
    height: 36px;
    background: #32312f0a;
  }
  .mat-elevation-z8 {
    box-shadow: none;
  }
  tr.mat-row,
  tr.mat-footer-row {
    height: 36px;
  }
  .mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: 600;
  }
